<div class="w-full p-6">
  <h1 class="text-3xl font-bold">Returns</h1>

  <fieldset class="bg-white p-4 my-5 flex rounded-xl shadow-md">
    <div>
      <legend class="font-bold text-xl">Return Reasons</legend>
      Add or edit return reasons you would like to show the customers during the return request process.
    </div>

    <div class="bg-slate-100">
      <%= render "form", storefront: @storefront %>
    </div>
  </fieldset>
</div>
